---
name: publish
# Based on:
# - https://github.com/python-poetry/poetry/blob/main/.github/workflows/release.yaml
# - https://docs.astral.sh/uv/guides/integration/github/#publishing-to-pypi

on:  # yamllint disable-line rule:truthy
  release:
    types: [published]
  workflow_dispatch:  # Allows manual trigger from GitHub UI

permissions:
  contents: read

jobs:
  build:
    name: build (python ${{ matrix.python-version }} on ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.14"]
        os: [ubuntu-latest]
    steps:
      - name: checkout code
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: install latest version of uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3  # v7.1.3
        with:
          enable-cache: true

      - name: build with uv
        run: uv build --python ${{ matrix.python-version }}

      # Check that basic features work and we didn't miss to include crucial files
      - name: import test (wheel)
        run: |
          uv run \
            --isolated \
            --no-project \
            --python ${{ matrix.python-version }} \
            --with dist/*.whl \
            -- \
            python -c "import testmodule; print(testmodule.__name__)"

      - name: import test (source)
        run: |
          uv run \
            --isolated \
            --no-project \
            --python ${{ matrix.python-version }} \
            --with dist/*.tar.gz \
            -- \
            python -c "import testmodule; print(testmodule.__name__)"

      - name: upload dist files
        uses: actions/upload-artifact@v5
        with:
          name: distfiles
          path: dist/
          if-no-files-found: error

  upload-github:
    name: upload dist files (GitHub)
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: build
    steps:
      - name: checkout code
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: download dist files
        uses: actions/download-artifact@v6
        with:
          name: distfiles
          path: dist/

      - name: upload to GitHub Releases
        run: gh release upload "${TAG_NAME}" dist/*.{tar.gz,whl}
        env:
          GH_TOKEN: ${{ github.token }}
          TAG_NAME: ${{ github.event.release.tag_name }}

  publish-pypi:
    name: publish to TestPyPI
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: testpypi
      url: https://test.pypi.org/project/labnirs2snirf
    permissions:
      id-token: write
    steps:
      - name: download dist files
        uses: actions/download-artifact@v6
        with:
          name: distfiles
          path: dist/

      - uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e  # v1.13.0
        with:
          print-hash: true
          repository-url: https://test.pypi.org/legacy/
