name: Publish to PyPI (manual only for now, disabled)

on:
  # release:
  #   types: [published]
  workflow_dispatch:  # manual trigger

jobs:
  build-and-publish:
    name: Build and Publish to PyPI (Python ${{ matrix.python-version }})
    if: false
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.14"]
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      # - name: Set up UV
      #   uses: astral-sh/setup-uv@v7

      - name: Install Python
        run: uv python install ${{ matrix.python-version }}

      - name: Build package
        run: uv build

      # Check that basic features work and we didn't miss to include crucial files
      - name: Verify import (wheel)
        run: uv run --isolated --no-project --with dist/*.whl -- python -c "import labnirs2snirf"

      - name: Verify import (source)
        run: uv run --isolated --no-project --with dist/*.tar.gz -- python -c "import labnirs2snirf"

      - name: Publish to PyPI (token)
        run: uv publish --token ${{ secrets.PYPI_API_TOKEN }}
