---
name: Publish to PyPI
# Based on:
# - https://github.com/python-poetry/poetry/blob/main/.github/workflows/release.yaml
# - https://docs.astral.sh/uv/guides/integration/github/#publishing-to-pypi

on:  # yamllint disable-line rule:truthy
  release:
    types: [published]
  workflow_dispatch:  # Allows manual trigger from GitHub UI

permissions:
  contents: read

concurrency:
  group: release-${{ github.workflow }}
  cancel-in-progress: false

jobs:
  build:
    name: build wheel & source distribution
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.14"]
        os: [ubuntu-latest]
    steps:
      - name: checkout code
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b  # v7.3.0
        with:
          enable-cache: true

      - name: build with uv
        run: uv build --python ${{ matrix.python-version }}

      # Check that basic features work and we didn't miss to include crucial files
      - name: import test (wheel)
        run: |
          uv run \
            --isolated \
            --no-project \
            --python ${{ matrix.python-version }} \
            --with dist/*.whl \
            -- \
            python -c "import labnirs2snirf; print(labnirs2snirf.__name__)"

      - name: import test (source)
        run: |
          uv run \
            --isolated \
            --no-project \
            --python ${{ matrix.python-version }} \
            --with dist/*.tar.gz \
            -- \
            python -c "import labnirs2snirf; print(labnirs2snirf.__name__)"

      - name: upload distribution files
        uses: actions/upload-artifact@v6
        with:
          name: distfiles
          path: dist/
          if-no-files-found: error

  upload-github:
    name: upload to GitHub
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: build
    steps:
      - name: checkout code
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: download dist files
        uses: actions/download-artifact@v7
        with:
          name: distfiles
          path: dist/

      - name: upload to GitHub Releases
        run: gh release upload "${TAG_NAME}" dist/*.{tar.gz,whl}
        env:
          GH_TOKEN: ${{ github.token }}
          TAG_NAME: ${{ github.event.release.tag_name }}

  publish-pypi:
    name: publish to PyPI
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: pypi
      url: https://pypi.org/project/labnirs2snirf
    permissions:
      id-token: write
    steps:
      - name: download distribution files
        uses: actions/download-artifact@v7
        with:
          name: distfiles
          path: dist/

      - name: publish to TestPyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e  # v1.13.0
        with:
          print-hash: true
